<br>
<h3 style="text-align: center;"><b>Admission Enquiry Form</b></h3><br>
<form action="">
<table>
  <tr>
      <td>
        <div class="vertical-line">
            <label for=""><b>Student Name</b></label>
            <div class="row row-form">
                <div class="col">
                  <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Last name">
                </div>
            </div>
            <br>

            <label for=""><b>Father Name</b></label>
            <div class="row row-form">
                <div class="col">
                  <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Last name">
                </div>
            </div>
            <br>

            <label for=""><b>Mother Name</b></label>
            <div class="row row-form">
                <div class="col">
                  <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Last name">
                </div>
            </div>
            <br>

            <label for=""><b>Student Details :</b></label>
              <div class="form-row row-form">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Email</label>
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Mobile No</label>
                  <input type="text" class="form-control" id="inputMobile4" placeholder="Mobile Number">
                </div>
              </div>
              <!-- <div class="form-group row-form">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
              </div>
              <div class="form-group row-form">
                <label for="inputAddress2">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
              </div> -->
              <div class="form-row row-form">
                  <div class="form-group col-md-6 ">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity">
                  </div>
                  <div class="form-group col-md-4 ">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control">
                      <option selected>Select</option>
                      <option>Tamil Nadu</option>
                      <option>Kerala</option>
                      <option>Andhra Pradesh</option>
                      <option>Karnataka</option>
                      <option>NRI</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2 required">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip">
                  </div>
            </div>
            <br>
            <label for=""><b>Parent Mobile </b></label><br>
            <!-- <label for="">Mobile No</label> -->
            <div class="row row-form">
                <div class="col">
                  <input type="text" class="form-control required" placeholder="Mobile Number 1">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Mobile Number 2">
                </div>
            </div>
            <br>
          </div>
    </td>



    <td>
      <div class="col-second">
          <label for=""><b>Course you would like to apply</b></label>
          <div class="form-group">
            <!-- <label for="inputState">Course</label> -->
            <select id="inputState" class="form-control">
              <option selected>Course</option>
              <option>B.E - Agriculture Engineering</option>
              <option>B.E - Biomedical Engineering</option>
              <option>B.Tech - Biotechnology</option>
              <option>B.E - Civil Engineering</option>
              <option>B.E - Computer Science and Engineering</option>
              <option>B.E - Electrical and Electronics Engineering</option>
              <option>B.E - Electronics and Communication Engineering</option>
              <option>B.Tech - Food Technology</option>
              <option>B.Tech - Information Technology</option>
              <option>B.E - Mechanical Engineering</option>
              <option>M.E - Computer Science and Engineering</option>
              <option>M.E - VLSI Design</option>
              <option>M.E - CAD/CAM</option>
              <option>M.E - Embedded System Technologies</option>
              <option>M.E - Structural Engineering</option>
            </select>
          </div>
          <br>
          <label for=""><b>Academic Details</b></label><br>
          <label for="">Which school did you studied?</label><br>
          <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Mention Your Higher Secondary School">
              </div>
          </div>
          <br>

          <label for="">Expected Marks</label>
          <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Mention Your Higher Secondary School">
              </div>

          </div>
          <br>

          <label for="">Expected CutOff</label>
          <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Mention Your Higher Secondary School">
              </div>

          </div>
          <br>

          <label for="">Preferring hostel/Day Scholor</label>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                Day Scholor
              </label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                Hosteller
              </label>
          </div>
          <br>
      </div>
    </td>

  </tr>
</table>
<button style="float: right;"class="btn btn-primary" type="submit" name="button">Submit</button>
</form>
<br><br>
