<div class="container">
<br><br><br>
<div class="form-group" id="phone_no">
  <div class="row">
  <label for="Student Name"><b>Enter the Phone Number</b></label>
  <div class="requires">*</div>
  </div>
  <div id="phone_error">

  </div>
  <input type="number" id="admission_phone" name="phone_number" oninput="validatePhone()" placeholder="Phone Number" value="" required>
  <button type="button" name="button" class="btn btn-primary" id="phone_button" onclick="select_admission_id()" disabled = 'true'>Submit</button>
</div>
</div>
<script type="text/javascript">
  function select_admission_id() {
    const data = {
      phone_no : document.getElementById('admission_phone').value,
    }
    console.log(data);
    fetch('./enquiry_number', {
        method: 'POST', // or 'PUT'
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      }).then(function(response) {
        response.text().then(function(data) {
               document.getElementById('otp_status').innerHTML =(data);
               if (data == 'Otp verification Success') {
                 document.getElementById('container-fluid').innerHTML = data;
               }
        });
    });
  }
</script>
