<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SIET-GMS</title>
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- <a class="navbar-brand" href="index.html">Start Bootstrap</a> -->
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars fa-lg" style="color: white;"></i></button>
            <a href="dashboard.html"><i class="fas fa-home fa-2x"></i></a>
            <div class="mx-auto">
                <!-- <a class="navbar-brand mx-auto" href="#">Navbar 2</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button> -->
                <p class="heading" style="color: white; font-size: 20px; margin-top: 15px;"> <i>SIET Gate Management System</i> </p>
            </div>

            <!-- Navbar Search-->
            <!-- <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form> -->
            <!-- Navbar-->
            <div class="right-float" style="float: right">
              <ul class="navbar-nav ml-auto ml-md-0">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                          <a class="dropdown-item" href="#">Settings</a>
                          <a class="dropdown-item" href="#">Activity Log</a>
                          <!-- <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#" id="logout">Logout</a> -->
                      </div>
                  </li>
                  <button type="button" class="btn btn-default" style="color:white" onclick="confirm_logout()">
                    <i class="fas fa-power-off"></i>
                  </button>
              </ul>
            </div>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading" style="color: white">Admission</div>
                            <a class="nav-link" href="/">
                                <div class="sb-nav-link-icon"><i class="far fa-file-alt fa-2x"></i></div>
                                Admission Enquiry
                            </a>
                            <div class="sb-sidenav-menu-heading" style="color: white">Students</div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-running fa-2x"></i></div>
                                Late Comers
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="earlyMorning.html">Early Morning</a>
                                    <a class="nav-link" href="afterLunch.html">After Lunch</a>
                                </nav>
                            </div>
                            <!-- <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a> -->
                            <!-- <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html">Login</a>
                                            <a class="nav-link" href="register.html">Register</a>
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">401 Page</a>
                                            <a class="nav-link" href="404.html">404 Page</a>
                                            <a class="nav-link" href="500.html">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div> -->
                            <a class="nav-link" href="bunkers.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-exclamation-triangle fa-2x"></i></i></div>
                                Bunkers
                            </a>
                            <div class="sb-sidenav-menu-heading" style="color: white">Visitors</div>
                            <a class="nav-link" href="visitors.html">
                                <div class="sb-nav-link-icon"><i class="far fa-id-badge fa-2x"></i></div>
                                Visitors
                            </a>
                            <!-- <button class="nav-link" type="button" name="button" onclick="Select()">Visitors</button> -->
                            <!-- <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a> -->
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Admin
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                  <div class="container-fluid">
                      <h1 class="mt-4">Dashboard</h1>
                      <div id="content" >

                      </div>
                      <p id="demo"></p>
                      <button class="btn btn-primary" type="button" name="button" onclick="Select()">Refresh</button>
                      <table class="table table-hover table-bordered caption-top" id="select_records" style="border: 2px solid black; padding:10px; border-collapse: separate;">
                          <button type="button" name="button" onclick="createPDF()"><i class="fas fa-print"></i>Print</button>
                      </table>
                  </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script>
        function Select(){
            fetch('./select').then(function(response) {
                response.json().then(function(data) {
                       document.getElementById('select_records').innerHTML = makeTable(data);
                });
            });
        }

        function makeTable(data){
            var output = "";
            output += '<caption style="caption-side: top-outside;">List of Entries</caption> <tr style="background-color:grey; color: white"> <th>Roll_No</th> <th>Status</th> <th>Time</th> <th>Date</th> </tr>';
            for (x in data){
                output += '<tr> <td style="border: 1px solid black;">' + data[x].roll_no + '</td> <td style="border: 1px solid black;">' + data[x].status + '</td> <td style="border: 1px solid black;">' + data[x].at_time + '</td> <td style="border: 1px solid black;">' + data[x].on_date + '</td> </tr>';
            }
            // output += '</span>';
            return output;
        }

        function confirm_logout() {
              var txt;
              var r = confirm("Are you sure want to Logout?");
              if (r == true) {
                window.location.href = "index.html";
                txt = "You pressed OK!";
              } else {
                window.location.href = "#";
                txt = "You pressed Cancel!";
              }
              document.getElementById("demo").innerHTML = txt;
        }

        function load_bunkers() {
           document.getElementById("content").innerHTML='<object type="text/html" data="bunkers.html" ></object>';
        }


        function createPDF() {
            var sTable = document.getElementById('select_records')[0];

            var style = "<style>";
            style = style + "table {width: 100%;font: 17px Calibri;}";
            style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
            style = style + "padding: 2px 3px;text-align: center;}";
            style = style + "</style>";

            // CREATE A WINDOW OBJECT.
            var win = window.open('', '', 'height=700,width=700');

            win.document.write('<html><head>');
            win.document.write('<title>Profile</title>');   // <title> FOR PDF HEADER.
            win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
            win.document.write('</head>');
            win.document.write('<body>');
            win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
            win.document.write('</body></html>');

            win.document.close(); 	// CLOSE THE CURRENT WINDOW.

            win.print();    // PRINT THE CONTENTS.
        }
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
